<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Design</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">MOVIEWORLD</h1>
            </div>
            <nav>
            <div class="menu-container">
                <ul class="menu-list">
                    <nav></nav>
                    <br><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/main%20page.html">Home</li></br>
                    <br><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/top%20rated.html">Top rated movies</a></li></br>
                    <br><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/ahrd.html">Movie categories</a></li></br>
                    <br><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/actors%20profile.html">Actors profile</a></li></br>
                    <br><li><a href="file:///C:/Users/glraj/Desktop/room%20project1/templates/about.html">About</li></br>
                    </nav>
                </ul>
            </div>
            </nav>
                <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-1.jpg');">
                <img class="featured-title" src="https://tse1.mm.bing.net/th?id=OIP.GQpZBYK3fDIsWizvSnlIOQHaDF&pid=Api&P=0&h=180"alt="sravani"height="200"width="500">
                <button class="featured-button">WATCH</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-item">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="">
                            <span class="movie-list-item-title">VIMANAM</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
            
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="\static\j.jpg">
                            <span class="movie-list-item-title">BRO</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="\static\f.jpg">
                            <span class="movie-list-item-title">CUSTODY</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src=>
                            <span class="movie-list-item-title">RAMABHANAM</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://tse3.mm.bing.net/th?id=OIP.dk7bc5Q7DO0QahwvRn-BawHaLH&pid=Api&P=0&h=180" alt="">
                            <span class="movie-list-item-title">MEMU FAMOUS</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">HITS OF 2022</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://tse2.mm.bing.net/th?id=OIP.V63_nos6AtRZM86U9gkalgHaFj&pid=Api&P=0&h=180" alt="">
                            <span class="movie-list-item-title">DJ TIILU</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://m.media-amazon.com/images/M/MV5BZTRiNDQ2ODYtMzcwMy00ZGNjLWIxMzEtZTMzNDIxY2I0Njk5XkEyXkFqcGdeQXVyNTM2NTg3Nzg@._V1_FMjpg_UX1000_.jpg" alt="">
                            <span class="movie-list-item-title">BANGARRAJU</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-81627697/81627697.jpg?62955" alt="">
                            <span class="movie-list-item-title">HIT THE SECOND CASE</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://tse1.mm.bing.net/th?id=OIP.b-0Gt3quY2phJj7ea6JLlQHaJQ&pid=Api&P=0&h=180" alt="">
                            <span class="movie-list-item-title">777 CHARLIE</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://tse3.mm.bing.net/th?id=OIP.qjT2EzbQfGXA8e1r8NpN8gAAAA&pid=Api&P=0&h=180" alt="">
                            <span class="movie-list-item-title">ROWDY BOYS</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="https://tse3.mm.bing.net/th?id=OIP.x_JjqBi_BJkvEXdoJ4fdfQHaHa&pid=Api&P=0&h=180" alt="">
                            <span class="movie-list-item-title">DON</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\beast movie.jpg" alt="">
                            <span class="movie-list-item-title">BEAST</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-2.jpg');">
                <img class="featured-title" src="img/f-t-2.png" alt="">
                <button class="featured-button">WATCH</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">HITS OF 2015-2021</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\download FIDAA.jpeg" alt="">
                            <span class="movie-list-item-title">FIDAA</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\rangasthalam.jpg" alt="">
                            <span class="movie-list-item-title">RANGASTHALAM</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\harika.jpg" alt="">
                            <span class="movie-list-item-title">S/O OF SATYAMURTHY</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\mahanati.jpg" alt="">
                            <span class="movie-list-item-title">MAHANATI</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\raja the great.jpg" alt="">
                            <span class="movie-list-item-title">RAJA THE GREAT</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\srimanthudu.jpg" alt="">
                            <span class="movie-list-item-title">SRIMANTHUDU</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">HITS OF 2010-2014</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\bruindavanam.jpg" alt="">
                            <span class="movie-list-item-title">BRINDAVANAM</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\ramya.jpg" alt="">
                            <span class="movie-list-item-title">SIMHA</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\dhrushyam.jpg" alt="">
                            <span class="movie-list-item-title">DRUSHYAM</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\darling.jpg" alt="">
                            <span class="movie-list-item-title">DARLING</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\ramta.jpg" alt="">
                            <span class="movie-list-item-title">NENU-LOCAL</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\maryada ramanna.jpg" alt="">
                            <span class="movie-list-item-title">MARYADA RAMANNA</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\ishq.jpg" alt="">
                            <span class="movie-list-item-title">ISHQ</span>
                            <button class="movie-list-item-button">Watch</button>
                            </div>

                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="C:\Users\glraj\Downloads\andala rakshashi.jpg" alt="">
                                <span class="movie-list-item-title">ANDALA RAKSHASI</span>
                                <button class="movie-list-item-button">Watch</button>
                                
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>
<style>
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  background-color: #444;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
</style>